<div class="row">
	 <div class="span9">
	<h1>Welcome to OpenStreetMap Scotland</h1>
<p>Welcome to the Openstreetmap Scotland website. This site collects statistics on OpenStreetMap data in Scotland and show-cases projects that are of interest to Scottish Mappers. <a href="http://www.openstreetmap.org/?lat=56.21&lon=-4.35&zoom=8&layers=M" >OpenStreetMap.</a> was established in 2004 and is platform that allows anyone to contribute to a free and open map of the world. By 2012, there have been over 1700 people who have contributed to the map in Scotland, sharing their edits under an open database licence (ODbL).</p>
<p>This site was established by active members of the OpenStreetMap community in Scotland. We hope that it will encourage and help monitor the process of OpenStreetMap. The backend of the site will act as basis for future hacking the map data and creating interesting projects. If you are interested in finding out more you can find the code on Github or come meet us at one of our regular <a href="http://wiki.openstreetmap.org/wiki/Scotland#Social_Meetings" >events.</a> </p>
<p><img src="http://wiki.openstreetmap.org/w/images/1/14/Scotland_logo_2012.png"/></p>
    </div>
</div>