<% content_for :title, "Contact Us" %>
<div class="row">
	 <div class="span12">
         <h1>Contact OpenStreetMap Scotland</h1>
     </div>
</div>
<div class="row">
             <div class="span4">
                 <h2>On twiter</h2>
                 <p><a href="https://twitter.com/OSMScotland">@OSMScotland</a></p>
             </div>
             <div class="span4">
                 <h2>By e-mail</h2>
                 <p><a href="mailto:info@openstreetmapscotland.org">info@openstreetmapscotland.org</a> </p>
             </div>
         </div>
         <div clas="row">
            <div class="span3">
                <h2>Edinburgh</h2>
                <p>March,June,September,December</p>
                <a href="http://wiki.openstreetmap.org/wiki/Edinburgh#Upcoming_Pub_Meetings">More Details</a>
            </div>
            <div class="span3">
                <h2>Glasgow</h2>
                <p>February, May, August, November</p>
                <a href="http://wiki.openstreetmap.org/wiki/Glasgow#Social_Events">More Details</a>
            </div>
            <div class="span3">
                <h2>Stirling</h2>
                <p>January, April, July, October</p>
                <a href="http://wiki.openstreetmap.org/wiki/Stirling#Social_Events">More Details</a>
            </div>

         </div>
        

