<div class="row">
	 <div class="span9">
	<h1>Contact OpenStreetMap Scotland</h1>
<p><a href="https://twitter.com/OSMScotland">Twitter.</a></p>
<p><a href="info@openstreetmapscotland.org">Email.</a> </p>
<p.<a href="http://wiki.openstreetmap.org/wiki/Scotland#Social_Meetings">Events.</a> </p>
<p><img src="http://wiki.openstreetmap.org/w/images/1/14/Scotland_logo_2012.png"/></p>
    </div>
</div>