<div class="fill">
    <div id="map"></div> <!-- This one wants to be 100% height -->
</div>

<div id="modal" style="display:block;" >
    <div class="container" id="content">
    <div class="row-fluid">
        <div class="span3">
            <h3>What is OpenStreetMap?</h3>
            <p><a href="http://openstreetmap.org">OpenStreetMap.org</a> is an international project established in 2004 with
            the aim of creating a free world map. We collect data on roads, railways, rivers, forests, houses and more.</p>
            
        </div>
        <div class="span3">
            <h3>How to get involved?</h3>
            <p>There are many different ways to contribute to OpenStreetMap, from reporting errors, to adding new buildings from
            aerial images and the addition of roads and points of interest from a GPS capable device. Follow our guides to help 
            you add and improve data.</p>
            <p>Or join us at one of our regular meetups to find out more</p>
        </div>
        <div class="span3">
            <h3>How can I use the data?</h3>
            <p></p>
        </div>
        <div class="span3">
            <img src="/assets/Scotland_logo_2012.png" />
        </div>
        </div>
    <div class="row-fluid">
        <div class="span12">
            <a class="close-modal" id="close" href="#">Show me the map</a>
        </div>
    
    </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        initmap();
    });

    var modal = (function(){
        var method = {},
            $overlay,
            $modal,
            $content,
            $close;
    
        // Center the modal in the viewport
        method.center = function () {
            var top, left;

            top = Math.max($(window).height() - $modal.outerHeight(), 0) / 2;
            left = Math.max($(window).width() - $modal.outerWidth(), 0) / 2;

            $modal.css({
                top:top + $(window).scrollTop(), 
                left:left + $(window).scrollLeft()
            });
        };
    
    // Open the modal
     method.open = function (settings) {
          //  $content.empty().append(settings.content);

            $modal.css({
                width:  'auto', 
                height: 'auto'
            });

        method.center();

        $(window).bind('resize.modal', method.center);

        $modal.show();
        $overlay.show();
    };

    // Close the modal
    method.close = function () {
        $modal.hide();
        $overlay.hide();
        $content.empty();
        $(window).unbind('resize.modal');
    };


    $overlay = $('<div id="overlay"></div>');
    $modal = $("#modal");
    $content = $('#content');
    $close = $('#close');


    $modal.hide();
    $overlay.hide();
    $modal.append($content, $close);

    $(document).ready(function(){
        $('body').append($overlay, $modal);
    });
    
    $close.click(function(e){
        e.preventDefault();
        method.close();
    }); 


    return method;
}());


$(document).ready(function(){
   // modal.open({content: $('<h3>Welcome to OSM Scotland</h3><div class="container-fluid"><div class="row-fluid"><div class="span6">Column1</div><div class="span4">Column 2</div></div></div> ') });
   modal.open();
   });



</script>
